*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
body{
    background-color: rgb(58, 58, 58);
    height: 100vh;
}
header{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: red;
    text-transform: uppercase;
}
input{
    padding: 5px;
}
.content{
    padding: 10px;
}
.content div{
    margin: 5px;
}
main{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(58, 58, 58)
}
.results{
    width: 300px;
}
.flag{
    width: 30px;
}
.content{
    position: relative;
}
.results, .content, .poster {
    width: 300px;
    height: 400px;
}
.results{
    margin: 10px;
}
.results .cover{
    width: 300px;
    height:400px;
    object-fit: cover;
}
.info{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    color: white;
    display: none;
    padding: 5px;
}
.poster::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 305px;
    height: 405px;
    margin: 10px;
    background-color: black;
    display: none;
}
.content:hover .poster::after{
    display: block;
}
.content:hover .info{
    display: block;
}

.poster img, .poster{
    width: 100%;
}
.cover{
    width: 100px;
}
.fa-star{
    color: orangered;
}